main {
    overflow-x: hidden;
}

.imgFondo {
    background-image: url("assets/hawaii.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
    background-color: rgb(66, 63, 63);
    background-blend-mode: soft-light;
    
}

.my-btn {
    --bs-btn-padding-y: 0.15rem;
    --bs-btn-padding-x: 0.3rem;
    --bs-btn-font-size: 0.65rem;
    padding-top: var(--bs-btn-padding-y);
    padding-bottom: var(--bs-btn-padding-y);
    padding-left: var(--bs-btn-padding-x);
    padding-right: var(--bs-btn-padding-x);
    font-size: var(--bs-btn-font-size);
}

.bottom-dashed {
    text-decoration: none;
    border-bottom: 2px dotted black;
}

.bg-footer{
    background-color: #185076;   
    height: 12vh;
}

.green{
    color: rgb(4, 202, 4) ;
}

.subtitle{
    font-size: .75rem;
    position: absolute; 
    bottom: 0;
}

#boxes .card{
    border-radius: 0;
    width: 15rem; 
    height: 13rem;
}